body
{
	text-align:center;
	background-image:url("../background/bckgrnd.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 70px;
}

.well
{
	background-color: rgba(0, 0, 0, 0);
	width:97%;
	height:97%;
	border: 0px;
}
.navbar
{
	background-color: rgba(245, 245, 200, 0.8);
	

}

.panel
{
	background-color: rgba(0, 0, 0, 0);
	width: 97%;
	height: 97%;
}

.modal-content
{
	background-color: rgba(245, 245, 200, 0.9);
}

.panel-heading
{
	text-align: left;
	font-size: large;
}

.panel-body
{
	height: 92.2%;
	background-color: rgba(245, 245, 200, 0.6);
}